<style>
head header{
    color: rgb(70, 37, 255);
 
    background-color: rgb(255,238,161);

}

* {font-family: "Big Caslon",Arial, Helvetica, sans-serif;}

body h2{
    color: rgb(0, 0, 0);
    line-height: 60px;
    font-size: x-large;
} 

body section{
    color: rgb(49, 49, 49);
    line-height: 40px;
}

head header{
    color: rgb(70, 37, 255);
 
    background-color: rgb(255,238,161);

}


body{
    color:rgb(107, 81, 255);
    background-color: rgb(255, 250, 230);
    line-height: 70px;
    text-align: center;


}
section img{
    width: 150px;
    height: 200px;
    line-height: 8px;
    display: inline-block;
    margin: 10px;
}
section div{
    line-height: 70px;
    color: black;
    font-size: large;
}
nav ul{
    text-align: center;
    border-top: 2px solid rgb(117, 117, 117);
    border-bottom: 2px solid rgb(112, 112, 112);
    padding:  15px 0px;
}
button{
    width: 140px;
    height: 50px;
    border: none;
    background-color: rgb(255, 250, 230);
    color: rgb(87, 58, 255);
    font-size: medium;

}
button:hover{
    cursor: pointer;
}
